<h1>欲の選択</h1>

<div class="">
	<% @greeds.each do |greed| %>
		<div class="greed">
			<%= link_to userside_product_path(greed.id) do %>
				<%= attachment_image_tag greed, :greed_image_name, :fill, 40, 40, format: 'jpeg' %>
			<% end %>
			<%= greed.greed_type %>
		</div>
	<% end %>
</div>
