ul{
	list-style: none;
}
h3{
	color: #999;
	font-weight: bold;
	padding-bottom: 35px;
}
.delivery-info,.cart-item{
	padding-left: 20px;
}
.buy-title-box{
	padding-top: 90px;
	padding-bottom: 60px;
}
.buy-title{
	padding-left: 15px;
}
.fas{
	margin-right: 25px;
}
.cart-item{
	display: flex;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid lightgray;

	.item-image{
		transition: 0.2s;
	}
	.item-image:hover{
		opacity: 0.7;
	}
	.item-description{
		padding-left: 60px;
	}
	.item-name{
		font-size: 18px;
		line-height: 18px; //デフォルト25
	}
	.item-price{
		margin-top: 15px;
		font-size: 18px;
	}
	.item-stock{
		margin-top: 25px;
	}
	.inventry{
		margin-bottom: 3px;
	}
	.item-quantity{
		padding-left: 50px;
	}
}
.cart-item:last-child{
	border-bottom :none;
}
// 数量選択〜削除ボタン
.quantity-setting-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	// margin-left: 40px;
}
.quantity-label{
	font-weight: normal;
	margin-right: 3px;
}
.submit-button{
	margin-left: 10px;
	width: 50px;
}
.quantity-box{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.delete-button{
	margin-left: 70px;
}
.delete-button > a{
	color: gray;
}
.delete-button > a:hover{
	color: #5972ff;
	text-decoration: none;
}
//支払い方法と住所選択部分
.delivery-select-box{
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.delivery-select-box label{
	// color: gray;
	padding-bottom: 5px;
}
.payment-method{
	padding-right: 70px;
}
.payment-method span{
	padding-left: 5px;
	padding-right: 15px;
}
.address-box{
	padding-top: 15px;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	border-top: 1px solid lightgray;
}
.address-box:last-child{
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
}
.address-button{
	padding-right: 25px;
	padding-bottom: 10px;
}
// 購入ボタン部分
.buy-box{
	margin-left: 90px;
	padding: 60px;
	width: 350px;
	height: 350px;
	text-align: center;
	// background-color: #fafafa;
	border: 5px solid #280b28;
	border-radius: 90% 30% 50% 30%/30% 90% 30% 80%;
	box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.1);
}
.total-price-box{
	width: 100%;
	margin-top: 40px;
	padding-bottom: 15px;
	font-size: 20px;
	line-height: 20px; //「合計」と数字のずれ解消
	display: flex;
	justify-content: space-between;
}
.total-mark{
	font-size: 20px;
}
.total-price{
	font-size: 25px;
}
.buy-field{
	margin-top: 40px;
}
.buy-button{
	width: 100%;
	display: block;
	padding: 20px 60px;
	border-radius: 240px 30px 100px 25px/15px 220px 10px 180px;
	background-color: #280b28;
	color: white;
}
.buy-button:hover{
	color: white;
	text-decoration: none;
	opacity: 0.9;
}
.link-back{
	margin-top: 35px;
}
// カートが空のとき
.no-item-body{
	display: flex;
	justify-content: center;
	align-items: center;
}
.no-item-text{
	padding-top: 50px;
	text-align: center;
}
.no-item-text p{
	padding-top: 50px;
}
.no-item-text h4{
	letter-spacing: 0.1em;
}
.no-item-button{
	padding: 15px 40px;
	border: 2px solid #999;
	border-radius: 240px 30px 100px 25px/15px 220px 10px 180px;
	color: #999;
}
.no-item-button:hover{
	text-decoration: none;
	color: white;
	// border-color: white;
	background-color: #280b28;
	transition: 0.7s;
}