.container-wrapper {
	text-align: center;
	margin-bottom: 50px;

	.page-title {
		padding: 60px 0 30px 0;
	}

	.thanks-img {
		position: relative;
		margin-bottom: 50px;

		.thanks-text {
			position: absolute;
			top: 80px;
			left: 700px;
		}
	}

	.thanks-text {

		text-align: center;
		margin-bottom: 30px;
		display: none;

		@keyframes fadeIn { /*「fadeIn」と名前をそろえる*/
		    0% {opacity: 0} /*アニメーション開始時は完全に透過*/
		    100% {opacity: 1} /*アニメーション終了時は透過しない*/
		}

		.title {
			font-size: 20px;
			margin-bottom: 60px;
		}

		.continue-button {
		    display       : inline-block;
		    font-size     : 15pt;
		    text-align    : center;
		    padding       : 12px 12px;
		    margin-bottom : 60px;
		    background    : rgba(255, 255, 255, 0.8);
		    color         : rgba(0, 0, 0, 0.8);
		    line-height   : 1em;
		    transition    : .3s;
		    box-shadow    : 3px 3px 1px #666666;
		    border        : 0.5px solid rgba(0, 0, 0, 0.8);    /* 枠の指定 */
			border-radius: 90% 30% 50% 30%/30% 90% 30% 80%;
		}
		.continue-button:hover {
		    box-shadow    : none;        /* カーソル時の影消去 */
		    color         : rgba(255, 255, 255, 0.8);     /* 背景色     */
		    background    : rgba(0, 0, 0, 0.8);     /* 文字色     */
		}

		.show-button {
		    display       : inline-block;
		    font-size     : 15pt;
		    text-align    : center;
		    padding       : 12px 12px;
		    background    : rgba(255, 255, 255, 0.8);
		    color         : rgba(0, 0, 0, 0.8);
		    line-height   : 1em;
		    transition    : .3s;
		    box-shadow    : 3px 3px 1px #666666;
		    border        : 0.5px solid rgba(0, 0, 0, 0.8);    /* 枠の指定 */
		    border-radius: 50% 60% 10% 90%/50% 20% 40% 40%;
		}
		.show-button:hover {
		    box-shadow    : none;        /* カーソル時の影消去 */
		    color         : rgba(255, 255, 255, 0.8);     /* 背景色     */
		    background    : rgba(0, 0, 0, 0.8);     /* 文字色     */
		}
	}

	.order-info, .payment-link {
		margin: 0 auto;
		font-size: 20px;
	}

	.order-info {
		margin-bottom: 20px;
	}
}