<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "users/contact", :media => "all" %>

<main class="main">
	<div class="for-background">
		<div class="container-wrapper">
			<div class="page-title">
				<h1>お問い合わせ窓口</h1>
				<hr class="hr-first">
			</div>
			<div class="contact-info">
				<div class="title">
					<h2>お問い合わせ先について</h2>
				</div>
				<div class="text">
						<p>本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</p>

						<p>住所：東京都欲望市渦巻町世紀末4-9-49<br>
						   社名：欲望　株式会社<br>
						   担当部署：カスタマーサポート部<br>
						   Eメールアドレス：yokubou4949@yokubou.com<br>
						   電話番号：03-4949-4141
						</p>
				</div>
			</div>
		</div>
	</div>
</main>