<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "users/payment", :media => "all" %>

<main class="main">
	<div class="for-background">
		<div class="container-wrapper">
			<div class="page-title">
				<h1>支払いについて</h1>
				<hr class="hr-first">
			</div>
			<div class="payment-info">
				<div class="cash-on-delivery">
					<div class="title">
						<h2>代引きの方</h2>
					</div>
					<div class="text">
							<p>品物をお届けの際に配送業者のドライバーへ商品代金をお支払いください。<br>代金引換払いの場合には商品代金とは別に、代引き手数料がお支払い総額に応じて発生いたします。</p>

							<p>代引き手数料一覧<br>

							10,000円未満：324円(税込み)<br>
							10,000円〜30,000円 ：432円(税込み)<br>
							30,000円〜100,000円：648円（税込み）</p>
					</div>
					<div class="title">
						<h2>銀行振込の方</h2>
					</div>
					<div class="text">
							<p>合計金額を以下の口座へお振込み下さい。なお、振込手数料はお客様のご負担となります。ご了承下さい。<br><br>

								　●きらりん星銀行 渋谷暗黒坂支店（店番号：17872）<br>
								　●普通預金 <br>
								　●口座番号：0969641 <br>
								　●ヨクボウ (カ <br><br>

								その際のお振込み者名は<br>
								<strong>「購入者様フルネーム　+ 注文番号」</strong><br>
								にしていただきますようお願い致します。<br>
								正しく入力されていないと、お振込みの確認が取れなくなってしまう場合がございますのでご注意下さい。
							</p>
					</div>

				</div>
				<div class="bank-transfer"></div>
			</div>
		</div>
	</div>
</main>