<header>
	<div class="header-container">
		header
	</div>
</header>

<section>
	<main>
		<div class="main-container">
			<div class="user-info">
				<div class="info-container">
					ユーザー情報
				</div>
			</div>
			<div class="user-purchase-history">
				<div class="purchase-history-container">
					購入履歴
				</div>
			</div>
		</div>
	</main>
</section>

<footer>
	<div class="footer-container">
		footer
	</div>
</footer>