/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*ヘッダー*/
.navbar{
	margin: 0;
	border: none;
	border-radius: 0;
}
.navbar-admin{
	background-color: #fff;
}
.navbar-user{
	background-color: #202020;
}
.nav {
	float: right;
}
.header-text{
	color: #202020;
	width: 400px;
	padding: 10px;
	display: inline-block;
}
.header-text p {
	margin: 0;
}
.greed-icon{
	margin-top: 3px;
	padding-left: 5px;
}
.search-form{
	display: inline-block;
	width: 300px;
	height: 50px;
	margin-left: 40px;
}
.search-form p{
	margin: 0;
	padding: 11px;
}
.search-form input,.search-form-admin input{
	border: none;
	background-color: white;
	padding: 3px;
}
.search-form p #search{
	border: 1px solid #EFEFEF;
	width: 200px;
	padding-left: 10px;
	border-radius: 2px;
}
.search-form p .search-button{
	border: #EFEFEF;
	color: #333;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #EFEFEF;
	border-radius: 2px;
}
.navbar-default .navbar-nav > li > a{
	color: #ccc;
}
.navbar-admin .navbar-nav > li > a{
	color: gray;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #ccc;
	opacity: 0.8;
}
//欲の選択へのリンク
// .navbar-default .navbar-nav > li:last-child{
// 	border: 2px solid white;
// 	border-radius: 50%;
// 	color: #fff;
// }
/*ページネーション*/
.paginate {
	margin: 10px 0;
	text-align: center;
}
.pagination {
	margin: 0 auto;
}
.item-total {
	padding-left: 600px;
}

body {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
}

/*フッター*/
footer {
	height: 100px;
	background-color: #202020;
	margin-top: auto;
}
.service-info, .privacy-info, .contact-info, .payment-info, .unsubscribe {
	max-width: 90%;
	color: #fff;
}
.footer-contents {
	display: flex;
	justify-content: space-around;
	height: 50px;
	line-height: 50px;
}
.copy {
	color: white;
	height: 50px;
	line-height: 50px;
	padding-right: 30px;
	text-align: center;

	p {
		margin:0;
	}
}
.alert-text {
    padding: 0 15px;
    border-radius: 4px;
    height: 0.1px;
}
.notice {
    background-color: #CCFFCC;
    border-color: #CCFFCC;
    color: #008000;
}