.main {
	background: url(/images/greed_image.jpg) no-repeat;
	background-size: cover;
	background-position: center center;

	a {
		text-decoration: none;
	}
}

.for-background {
	background: rgba(255,255,255,0.5)
}

.container-wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 100px 0 50px 0;
	text-align: center;
}

.containers {
	text-align: center;
	width: 600px;
	margin: 0 auto;
	background: rgba(255,255,255,0.8);
}

.first-container, .second-container {
	width: 400px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;

	.field, .actions, p {
		padding-bottom: 20px;
		width:220px;
		margin: 0 auto;
	}

	.form-title {
		width: 250px;
		margin: 0 auto;
		padding: 20px 0;
		display: flex;
		justify-content: space-around;

		.sign-up, .sign-in {
			padding: 10px 20px;
		}

		.active{
		  color: #000;
		  border-bottom: solid 2px;
		}

		.sign-in{
		  color: #000;
		}
	}

	.postal-code {
		padding-bottom: 20px;
	}

	span {
		color: red;
	}

	.actions {
		text-align: center;
	}

	.button {
	  display       : inline-block;
	  font-size     : 15pt;        /* 文字サイズ */
	  text-align    : center;      /* 文字位置   */
	  padding       : 12px 12px;   /* 余白       */
	  background    : rgba(0, 0, 0, 0.80);     /* 背景色     */
	  color         : rgba(255, 255, 255, 0.8);     /* 文字色     */
	  line-height   : 1em;         /* 1行の高さ  */
	  transition    : .3s;         /* なめらか変化 */
	  box-shadow    : 3px 3px 1px #666666;  /* 影の設定 */
	  border        : 2px solid rgba(0, 0, 0, 0.8);    /* 枠の指定 */
	}
	.button:hover {
	  box-shadow    : none;        /* カーソル時の影消去 */
	  color         : rgba(0, 0, 0, 0.8);     /* 背景色     */
	  background    : rgba(255, 255, 255, 0.8);     /* 文字色     */
	}
}

.first-container {
	margin-bottom: 20px;
}
.devise-alert{
	color: red;
	padding-top: 10px;
	width: 300px;
}
.field_with_errors {
	input, textarea {
	border: 1px solid red;
  	outline: 0;
  }
}