main {
	width: 90%;
	margin: 0 auto;
	height: 700px;
}
h2 {
	padding-top: 20px;
}
hr { 
	clear: both;
    border-top: solid #bebebe;
    border-width: 1px 0 0;
    margin: 20px 0 30px;
    height: 0;
}
.table-top th {
	border-top: 0px !important;
}
.a-input-text, input[type=text], input[type=email] {
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
}
.a-input-text, input[type=text], input[type=email] {
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
}
input {
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    line-height: 19px;
    color: #111;
    font-weight: 500;
}
input[type="text"], input[type=email] {
  border: 0;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
}
input[type="text"]:focus, input[type=email]:focus {
  box-shadow: 0 0 7px 0 rgba(255,153,0,1);
  outline: 0;
}
.email-field {
	width: 370px;
}
.box {
	padding-left: 60px;
}
.address-text {
	font-weight: 600;
	padding-bottom: 5px;
}
.address-box {
	padding-bottom: 10px;
}
.post-code {
	width: 90px;
}
.address-field {
	width: 300px;
}
.btn-box {
	padding-top: 20px;
}
.update-btn{
    display: inline-block;
    padding: 0.5em 1.0em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.update-btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.create-box {
	padding-top: 15px;
}
.create-btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1.0em;
    text-decoration: none;
    color: #668ad8;
    background: #ECECEC;
    transition: .4s;
    border-radius: 3px;
  }
.create-btn:hover {
    background: #00bcd4;
    color: white;
}

.btn-sm {
	font-size: 15px;
}
.show-btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-left: solid 2px #668ad8;
    border-right: solid 2px #668ad8;
    color: #668ad8;
    text-shadow: 0 0 5px white;
    padding: 0.25em 0.5em;
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    transition: .4s;
}

.show-btn:hover {
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 5px,#e9f4ff 5px, #e9f4ff 9px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 5px,#e9f4ff 5px, #e9f4ff 9px);
}
label {
	padding-top: 10px;
	padding-left: 10px;
}
.link {
	padding-top: 10px;
	width: 90%;
}
.my-greed {
	padding-top: 20px !important;
}
.radio-label {
	padding-top: 5px;
	padding-left: 15px;
}
.payment {
	padding-top: 17px !important;
}
.radio {
	display: none;
}
.radio + .greed_image_name {
	border: 1px #bebebe solid;
	border-radius: 50%;
	opacity: 0.2;
}
.radio:checked + .greed_image_name {
	opacity: 1;
}
.destroy-btn{
	float: right;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1.0em;
    text-decoration: none;
    color: #FFAD90;
    background: #ECECEC;
    transition: .4s;
  }

.destroy-btn:hover {
    background: #00bcd4;
    color: white;
}