.unsubscribe1 {
	background-color: #D3D3D3;
}
main {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
h4 {
	float: left;
}
.total {
	padding-right: 80px;
	padding-bottom: 5px;
}
td,th {
	text-align: left;
}
th {
	font-weight: 500;
}
.sort-box {
	text-align: left;
}
.sort {
	display: inline-block;
	padding-left: 20px;
}
.id {
	width: 50px;
	padding-left: 150px !important;
	padding-right: 50px !important;
}
.date {
	width: 200px;
	padding-left: 50px !important;
}
.greed {
	text-align: center;
}
.user-name {
	width: 250px;
}
.user-link {
    height: 100% !important;
    display: inline-block !important;
    padding: 5px 0 !important;
}

a.user-link:hover {
    color: #23527c;
    text-decoration: underline;
    background-color: #C2EEFF !important;
}
.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.7em;
    text-decoration: none;
    border-left: solid 2px #006400;
    border-right: solid 2px #006400;
    color: #2E8B57;
    text-shadow: 0 0 5px white;
    padding: 0.25em 0.7em;
    background: -webkit-repeating-linear-gradient(-45deg, #32CD32, #32CD32 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #32CD32 3px,#e9f4ff 3px, #e9f4ff 7px);
    transition: .4s;
}

.square_btn:hover {
    background: -webkit-repeating-linear-gradient(-45deg, #32CD32, #32CD32 5px,#e9f4ff 5px, #e9f4ff 9px);
    background: repeating-linear-gradient(-45deg, #32CD32, #32CD32 5px,#e9f4ff 5px, #e9f4ff 9px);
}
input[type="submit"] {
	width: 60px;
}



