main {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.sort-box {
	text-align: left;
	margin-top: 20px;
}
.sort {
	display: inline-block;
	padding-left: 10px;
}
.table {
	margin-top: 10px;
}
.paginate {
	margin-bottom: 10px;
}
.pagination {
	margin: 0 auto;
}
.item-total {
	padding-left: 700px;
}