main {
	width: 90%;
	margin: 0 auto;
	min-height: 600px;
    height: auto;
    padding-bottom: 40px;
}
hr {
    clear: both;
    border-top: solid #bebebe;
    border-width: 1px 0 0;
    margin: 20px 0 30px;
    height: 0;
}
h4 {
	margin-top: 25px;
}
h3 {
	margin: 20px 0;
}
.table {
	width: 450px;
}
label, th {
	font-weight: 500;
}
.product-input {
	font-weight: 400;
}
.music {
	margin-top: 50px;
}
.part_line{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #CCCCCC;
    border-left: solid 3px #CCCCCC;
    color: #777777;
    transition: .4s;
    }
.square_btn{
    display: inline-block;
    padding: 0.5em 1.0em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.square_btn2{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFAD90;
    background: #ECECEC;
    transition: .4s;
  }

.square_btn2:hover {
    background: #00bcd4;
    color: white;
}
