main {
	width: 90%;
	margin: 0 auto;
	height: 700px;
}
h4 {
	margin-top: 20px;
}
h3 {
	margin: 20px 0;
}
.table {
	width: 450px;
}
.number {
    width: 50px;
}
label, th {
	font-weight: 500;
}
.product-input {
	font-weight: 400;
}
.music {
	margin-top: 50px;
}
.add-btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #CCCCCC;
    border-left: solid 3px #CCCCCC;
    color: #777777;
    transition: .4s;
    }
.confirm-btn{
    display: inline-block;
    padding: 0.25em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.confirm-btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.destroy-btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFAD90;
    background: #ECECEC;
    transition: .4s;
  }

.destroy-btn:hover {
    background: #00bcd4;
    color: white;
}
.riset {
    padding-left: 60px;
}