.title {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.product-box{
	margin: 50px auto;
}
h4{
	margin-top: 50px;
	font-weight: bold;
}
.nav-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.edit-box,.usershow-box{
	margin-left: 30px;
	letter-spacing: 0.1em;
}
.edit-box{
	display: inline-block;
    padding: 0.7em 1.4em;
    text-decoration: none;
    background: green;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #003C27;
    border-radius: 3px;
}
.usershow-box{
	 display: inline-block;
    padding: 0.7em 1.4em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

}
.music-number-column,.disc-number-column{
	width: 100px;
}