// カテゴリ別商品一覧
.product-body{
	background-color: #fafafa;
}
.eye-catch{
	width: 100%;
	height: 400px;
	// background-color: green;
	background-image: url(/assets/gold.jpg);
	// margin-bottom: 50px;
}
//他の欲へのリンク
.categories{
	height: 75px;
	// background-color: #EFEFEF;
	background-color: #fff;
}
.sub-nav{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sub-nav-ul{
	width: 600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0;
}
.sub-nav-ul li{
	list-style: none;
	position: relative;
}
.sub-nav-ul p{
	margin-bottom: 0;
}
.sub-nav-ul .text-pop{
	font-size: 14px;
	padding-left: 2px;
	letter-spacing: 0.05em;
}
.sub-nav-ul li a{
	color: #333;
	font-size: 18px;
}
.sub-nav-ul li a:hover{
	// text-decoration: none;
}
.sub-nav-ul li .spot-light{
	color: #00d098;
	font-size: 18px;
}
.sub-nav-ul li .spot-light .text-pop{
	font-size: 14px;
}
.sub-nav-ul li:not(:last-child):after{
	content: "";
    height: 20px;
    width: 1px;
    display: block;
    background-color: #a5a5a5;
    position: absolute;
    top: 50%;
    left: 180%;
    // right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
img{
	transition: 0.2s;
}
a:hover img{
	opacity: 0.7;
}
.product-index-title{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.product-index-title h3{
	font-size: 20px;
	font-weight: bold;
}
// サイドバーなし3列
.sort-box{
	// padding: 20px 0;
	width: 100px;
	margin-left: auto;
	margin-right: 135px;
}
.product-index-header{
	padding-right: 15px;
	margin-top: 50px;
	background-color: white;
}
.product-index{
	padding-top: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: white;
}
.product-box{
	background-color: white;
	position: relative;
	width: 220px;
	height: 370px;
	margin: 80px;
	margin-top: 20px;
	margin-bottom: 60px;
	border-bottom: 1px solid #EFEFEF; //不要？？
}
.product-image{
	width: 220px;
	height: 220px;
	border: 1px solid #EFEFEF;
}
.product-text{
	margin: 40px;
	margin-top:20px;
	margin-bottom: 80px;
}
.product-image{
	margin-bottom: 20px;
}
.product-text-box{
	margin-top: 25px;
}
.product-name > p{
	font-size: 15px;
	// padding: 5px;
	// padding-left: 15px;
}
.product-price_stock{
	display: flex;
}
.product-price{
	position: absolute;
	bottom: 10px;
	text-align: center;
	font-size: 14px;
	color: gray;
}
.product-stock{
	position: absolute;
	bottom: 10px;
	left: 70px;
	font-size: 15px;
	color: red;
}


