body{
	background-color: #fafafa;
}
.search-box{
	margin-top: 40px;
	padding-left: 60px;
	padding-right: 90px;
	background-color: white;
	min-height: 550px;
}
.search-header{
	padding-top: 60px;
	margin-bottom: 60px;
	border-bottom: 1px solid gray;
}
h3{
	color: #999;
	font-weight: bold;
	padding-bottom: 35px;
}
.buy-title-box{
	padding-top: 90px;
	padding-bottom: 60px;
}
.buy-title{
	padding-left: 15px;
}
.search-item{
	display: flex;
	padding-bottom: 35px;
	margin-bottom: 35px;
	border-bottom: 1px solid lightgray;

	.item-image{
		transition: 0.2s;
	}
	.item-image:hover{
		opacity: 0.7;
	}
	.item-description{
		padding-left: 60px;
	}
	.item-name{
		font-size: 18px;
		line-height: 18px; //デフォルト25
	}
	.item-price{
		margin-top: 15px;
		font-size: 18px;
	}
	.item-stock{
		margin-top: 15px;
		// display: flex;
		// align-items: flex-end;
	}
	.inventry{
		margin-bottom: 3px;
	}
	.wrap-for-greed{
		display: flex;
		align-items: flex-end;
	}
	.item-greed{
		padding-left: 50px;
	}
	.img-circle{
		border: 1px solid gray;
	}
	.create-cart{
	margin-left: 390px;
	height: 30px;
	width: 150px;
	// border-radius: 15px;
	border-radius: 240px 30px 100px 25px/15px 220px 10px 180px;
	color: green;
	border-color: green;
}
}
.search-item:last-child{
	border-bottom :none;
}
// 検索結果が空のとき
.no-item-body{
	display: flex;
	justify-content: center;
	align-items: center;
}
.no-item-text{
	padding-top: 50px;
	text-align: center;
}
.no-item-text p{
	padding-top: 50px;
}
.no-item-text h4{
	letter-spacing: 0.1em;
}
.no-item-button{
	padding: 15px 40px;
	border: 2px solid #999;
	border-radius: 240px 30px 100px 25px/15px 220px 10px 180px;
	color: #999;
}
.no-item-button:hover{
	text-decoration: none;
	color: white;
	// border-color: white;
	background-color: #280b28;
	transition: 0.7s;
}