.body{
	margin-top: 100px;
}
.image-box{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 280px;//画像サイズよりちょい大きめ?
}
.image-line{
	width: 270px;
	height: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgray;
}
.product-info{
	padding-left: 90px;
	// border-left: 2px solid gray;
	height: 283px; //画像サイズに合わせる(+3してカートに入れるボタンの位置調整)
	position: relative;
}
.product-name{
	font-size: 30px;
	margin-bottom: 15px;
}
.product-artist{
	font-size: 20px;
	color: gray;
}
.info-sub{
	position: absolute;
	bottom: 0px;
}
.info-for-sell{
	margin-bottom: 30px;
	padding-top: 5px;
	// font-size: 15px;
	// border-top: 1px solid gray;
}
// .price-box{
// 	padding-bottom: 5px;
// 	border-bottom: 1px solid gray;
// }
.price{
	margin-left: 10px;
	font-size: 20px;
}
.inventry{
	display: inline-block;
	margin-left: 10px;
	padding-top:10px;
}
.create-cart{
	position: absolute;
	bottom: 3px;
	left: 90px;
	margin-left: 20px;
	height: 30px;
	width: 150px;
	// border-radius: 15px;
	color: green;
	border-color: green;
}
// 下段
.music-info{
	margin-top: 50px;
}
.label-box{
	padding-left: 60px;
}
.music-label{
	font-size: 15px;
	padding-left: 5px;
}
.music-box{
	padding-left: 90px;
	padding-top: 30px;
	width: 40%;
}
.disk-box{
	padding-bottom: 20px;
}
.disk-name{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid;
}
.music-list{
	margin-top: 15px;
}
.music{
	margin-top: 3px;
}
